https://www.youtube.com/watch?v=-sJxwvx0P20 - ссылка на урок

In [1]:
import pandas

In [8]:
import pandas as pd
import openpyxl

In [13]:
df = pd.read_excel('/Users/artemislamowicloud.com/Documents/Jupiter_Notebook/selenium/александр малинников техника.xlsx')

In [14]:
type(df)

pandas.core.frame.DataFrame

прочитал и показал DataFrame

In [15]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,доступно,расход,остаток
0,NaN,№,наименования,ко-во,"цена,руб","сумма,руб:",категория,описание,Поставщик,NaN,∑ гранта(60%),2.973200e+07,13620840.0,1.611116e+07
1,NaN,1,овцы ярки,450,12000,5400000,животные,NaN,NaN,NaN,∑ собственные(40%),1.982133e+07,9080560.0,1.074077e+07
2,NaN,2,овцы бараны,50,27000,1350000,животные,NaN,NaN,NaN,∑ общая(100%),4.955333e+07,22701400.0,2.685193e+07
3,NaN,3,доставка овец,1,100000,100000,животные,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,4,кошара(емкость 600 голв),2,600000,1200000,здания,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,5,комбикормовый цех(здание),1,300000,300000,здания,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,6,бытовое помещение,1,300000,300000,здания,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,7,ограждение,1,NaN,0,здания,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,8,плющилка(комбикорм),1,NaN,0,оборудование,"0,5 кг/голова_2,5 т/сутки",NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,9,смеситель(комбикорм),1,NaN,0,оборудование,"0,5 кг/голова_2,5 т/сутки",NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,10,дозатор(комбикорм),1,NaN,0,оборудование,"0,5 кг/голова_2,5 т/сутки",NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,11,смеситель(для монокорм),1,NaN,0,оборудование,3 кг/голова_15 т/сутки,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,12,Экструдер,1,NaN,0,оборудование,"0,5 кг/голова_2,5 т/сутки",NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,13,пресс-подборщик(рулонник) ПР-150,1,660000,660000,техника,ПР-150 Новосибирск,АгроТехКомплект,NaN,NaN,NaN,NaN,NaN
14,NaN,14,трактор МТЗ,1,2642000,2642000,техника,МТЗ 82.1 с усиленными мостами,Техника АПК,NaN,NaN,NaN,NaN,NaN
15,NaN,15,кормораздатчик,1,819000,819000,техника,кормораздатчик тракторный КТ-10-01,АгроТехКомплект,NaN,NaN,NaN,NaN,NaN
16,NaN,16,борона пружинная,1,3050000,3050000,техника,БЗГТ-21 «ПОБЕДА» Зуб 14мм,Техника АПК,NaN,NaN,NaN,NaN,NaN
17,NaN,17,вилы (для трактор МТЗ),1,75000,75000,техника,универсальные с регулируемой пикой,Техника АПК,NaN,NaN,NaN,NaN,NaN
18,NaN,18,погрузчик «Универсал Standart»,1,290000,290000,техника,(БРС) г/п 1200 кг (Большая Земля),Техника АПК,NaN,NaN,NaN,NaN,NaN
19,NaN,18,сеялка зерновая,1,6515400,6515400,техника,СПС-6500,Техника АПК,NaN,NaN,NaN,NaN,NaN
20,NaN,19,Manitoo_погрузчик,0,9600000,0,техника,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,Итог,NaN,NaN,NaN,22701400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Создал и записал файл excel

In [18]:
df.to_excel('./primer.xlsx')

получаем информацию о датафрейм

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   0 non-null      float64
 1   Unnamed: 1   22 non-null     object
 2   Unnamed: 2   21 non-null     object
 3   Unnamed: 3   21 non-null     object
 4   Unnamed: 4   15 non-null     object
 5   Unnamed: 5   22 non-null     object
 6   Unnamed: 6   21 non-null     object
 7   Unnamed: 7   13 non-null     object
 8   Unnamed: 8   8 non-null      object
 9   Unnamed: 9   0 non-null      float64
 10  Unnamed: 10  3 non-null      object
 11  доступно     3 non-null      float64
 12  расход       3 non-null      float64
 13  остаток      3 non-null      float64
dtypes: float64(5), object(9)
memory usage: 2.5+ KB

In [20]:
df.head(3)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,доступно,расход,остаток
0,NaN,№,наименования,ко-во,"цена,руб","сумма,руб:",категория,описание,Поставщик,NaN,∑ гранта(60%),2.973200e+07,13620840.0,1.611116e+07
1,NaN,1,овцы ярки,450,12000,5400000,животные,NaN,NaN,NaN,∑ собственные(40%),1.982133e+07,9080560.0,1.074077e+07
2,NaN,2,овцы бараны,50,27000,1350000,животные,NaN,NaN,NaN,∑ общая(100%),4.955333e+07,22701400.0,2.685193e+07

In [21]:
df.tail(3)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,доступно,расход,остаток
19,NaN,18,сеялка зерновая,1,6515400,6515400,техника,СПС-6500,Техника АПК,NaN,NaN,NaN,NaN,NaN
20,NaN,19,Manitoo_погрузчик,0,9600000,0,техника,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,Итог,NaN,NaN,NaN,22701400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df.dtypes

Unnamed: 0     float64
Unnamed: 1      object
Unnamed: 2      object
Unnamed: 3      object
Unnamed: 4      object
Unnamed: 5      object
Unnamed: 6      object
Unnamed: 7      object
Unnamed: 8      object
Unnamed: 9     float64
Unnamed: 10     object
доступно       float64
расход         float64
остаток        float64
dtype: object

In [26]:
df['остаток']

0     1.611116e+07
1     1.074077e+07
2     2.685193e+07
3              NaN
4              NaN
5              NaN
6              NaN
7              NaN
8              NaN
9              NaN
10             NaN
11             NaN
12             NaN
13             NaN
14             NaN
15             NaN
16             NaN
17             NaN
18             NaN
19             NaN
20             NaN
21             NaN
Name: остаток, dtype: float64

In [27]:
df[['доступно', 'остаток']].head(3)

       доступно       остаток
0  2.973200e+07  1.611116e+07
1  1.982133e+07  1.074077e+07
2  4.955333e+07  2.685193e+07